

#offcanvasNavbar{
    width: 15rem;
}

.navbar-toggler{
    border: none;
    padding: 8px;
}

.navbar-toggler:focus {
    outline:none;
    box-shadow: none;
}

.navbar-toggler:active{
    background-color: lightgrey;
}

.cart-btn{
    padding: 8px;
    font-size: larger;
    border: none;
    border-radius: 25px;
    background-color: #04ace9;
    width: 75px;
}

.cart-btn:active{
    background-color: #0386b6;
}

.search-bar{
    width: 100%;
    border: 2px solid black;
    padding: 8px 0px 8px 8px;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
}
.search-bar:focus {
    outline:none;
    box-shadow: none;
}
.fa-magnifying-glass{
    text-align: center;
    line-height: 2.5em;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-right: none;
    border-radius: 15px 0px 0px 15px;
    height: 2.75em;
    width: 2.75em;
}
