<div class="container">
  <div class="header-title">
      <h1>Recently Bought Products</h1>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3">
      <div class="card h-100 pt-2">
        <img src="https://www.instacart.com/assets/domains/product-image/file/large_fd13505e-f3a0-4ec4-9753-e9458b05a169.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">$3.99</h5>
          <h6 class="card-title">Jif Peanut Butter, Creamy</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3">
      <div class="card h-100 pt-2">
        <img src="https://www.instacart.com/assets/domains/product-image/file/large_fd13505e-f3a0-4ec4-9753-e9458b05a169.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">$3.99</h5>
          <h6 class="card-title">Jif Peanut Butter, Creamy</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3">
      <div class="card h-100 pt-2">
        <img src="https://www.instacart.com/assets/domains/product-image/file/large_fd13505e-f3a0-4ec4-9753-e9458b05a169.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">$3.99</h5>
          <h6 class="card-title">Jif Peanut Butter, Creamy</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3">
      <div class="card h-100 pt-2">
        <img src="https://www.instacart.com/assets/domains/product-image/file/large_fd13505e-f3a0-4ec4-9753-e9458b05a169.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">$3.99</h5>
          <h6 class="card-title">Jif Peanut Butter, Creamy</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3">
      <div class="card h-100 pt-2">
        <img src="https://www.instacart.com/assets/domains/product-image/file/large_fd13505e-f3a0-4ec4-9753-e9458b05a169.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">$3.99</h5>
          <h6 class="card-title">Jif Peanut Butter, Creamy</h6>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 mb-3">
      <div class="card h-100 pt-2">
        <img src="https://www.instacart.com/assets/domains/product-image/file/large_fd13505e-f3a0-4ec4-9753-e9458b05a169.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">$3.99</h5>
          <h6 class="card-title">Jif Peanut Butter, Creamy</h6>
        </div>
      </div>
    </div>
  </div>
</div>


