@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.container{
    height: 100vh;
    padding: 2rem;
}

.card{
    border: none;
}

.header-title, .card-title{
    font-family: 'Josefin Sans', sans-serif;
}
.card-subtitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: small;
}

