<div class="container">
    <div class="page-header">
        <h3 class="header-title">Orders</h3>
    </div>
    <div class="page-body">
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5>ORDER ID : <i>1</i></h5>
                <h5>ORDER STATUS : <i>Delivered</i></h5>
                <h5>TOTAL : <i>$1.99</i></h5>
                <h5>DELIVERY DATE : <i>January 1st, 2023</i></h5>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">Number of Items : 1</h5>
              <p class="card-text">Item A, Item B, Item C, Item D...</p>
              <a href="#" class="btn buy-again-btn me-2">
                <i class="fa-solid fa-repeat me-2"></i>Buy It Again</a>
              <a href="#" class="btn buy-again-btn">
                <i class="fa-solid fa-map-location-dot me-2"></i>Track Package</a>
                
            </div>
        </div>
    </div>
</div>
