<div class="container">
    <div class="page-header">
        <h3 class="header-title">Orders</h3>
    </div>
    <div class="page-body">
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5>ORDER ID : 1</h5>
                <h5>ORDER STATUS : Delivered</h5>
                <h5>TOTAL : $1.99</h5>
                <h5>DELIVERY DATE : January 1st, 2023</h5>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">Number of Items : 1</h5>
              <p class="card-text">Item A, Item B, Item C, Item D...</p>
              <a href="#" class="btn btn-primary">Buy It Again</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5>ORDER ID : 1</h5>
                <h5>ORDER STATUS : Delivered</h5>
                <h5>TOTAL : $1.99</h5>
                <h5>DELIVERY DATE : January 1st, 2023</h5>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">Number of Items : 1</h5>
              <p class="card-text">Item A, Item B, Item C, Item D...</p>
              <a href="#" class="btn btn-primary">Buy It Again</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5>ORDER ID : 1</h5>
                <h5>ORDER STATUS : Delivered</h5>
                <h5>TOTAL : $1.99</h5>
                <h5>DELIVERY DATE : January 1st, 2023</h5>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">Number of Items : 1</h5>
              <p class="card-text">Item A, Item B, Item C, Item D...</p>
              <a href="#" class="btn btn-primary">Buy It Again</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5>ORDER ID : 1</h5>
                <h5>ORDER STATUS : Delivered</h5>
                <h5>TOTAL : $1.99</h5>
                <h5>DELIVERY DATE : January 1st, 2023</h5>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">Number of Items : 1</h5>
              <p class="card-text">Item A, Item B, Item C, Item D...</p>
              <a href="#" class="btn btn-primary">Buy It Again</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5>ORDER ID : 1</h5>
                <h5>ORDER STATUS : Delivered</h5>
                <h5>TOTAL : $1.99</h5>
                <h5>DELIVERY DATE : January 1st, 2023</h5>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">Number of Items : 1</h5>
              <p class="card-text">Item A, Item B, Item C, Item D...</p>
              <a href="#" class="btn btn-primary">Buy It Again</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header d-flex justify-content-between">
                <h5>ORDER ID : 1</h5>
                <h5>ORDER STATUS : Delivered</h5>
                <h5>TOTAL : $1.99</h5>
                <h5>DELIVERY DATE : January 1st, 2023</h5>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">Number of Items : 1</h5>
              <p class="card-text">Item A, Item B, Item C, Item D...</p>
              <a href="#" class="btn btn-primary">Buy It Again</a>
            </div>
        </div>
    </div>
</div>
