<div class="container">
  <div class="store-list mt-3 mb-3 d-flex justify-content-center gap-5">
    <button type="button" class="btn store-list-btn btn-lg" *ngIf="pageNumber != 1" (click)="getNextStores(pageNumber - 1)" [ngClass]="{'text-white': theme == 'dark'}">&#8249;</button>
    <a *ngFor="let store of stores">
      <div class="store-icons me-2">
        <img class="store-icon-img" src="{{store.StoreLogo}}" alt="" (click)="viewAllProducts(store.ID, store.Name, store.StoreLogo)">
      </div>
    </a>
    <button type="button" class="btn store-list-btn btn-lg" *ngIf="pageNumber < TotalStorePages && TotalStorePages != 0" (click)="getNextStores(pageNumber + 1)" [ngClass]="{'text-white': theme == 'dark'}">&#8250;</button>
  </div>
  <div class="page-row mb-4" *ngFor="let store of topStores">
    <div class="header-title mb-3 d-flex justify-content-between">
      <div class="header-left d-flex align-items-center">
        <h3>{{store.Name}}</h3>
      </div>
      <div class="header-right d-flex align-items-center">
        <a class="me-3 page-link" style="color:rgb(4, 137, 187);" *ngIf="products[store.ID - 1][2][0].TotalPages > 1" (click)="viewAllProducts(store.ID, store.Name, store.StoreLogo)">View All</a>
        <a class="previous page-link round me-2" *ngIf="currentPageStores[store.ID] > 1" (click)="getNextProducts(store.ID, currentPageStores[store.ID] - 1)">&#8249;</a>
        <a class="next page-link round" *ngIf="currentPageStores[store.ID] < products[store.ID - 1][2][0].TotalPages" (click)="getNextProducts(store.ID, currentPageStores[store.ID] + 1)">&#8250;</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 mb-3" *ngFor="let product of products[store.ID - 1][0]; let i = index">
        <div class="card h-20 pt-2 d-flex align-items-center">
          <img src="{{product.Image}}" class="card-img-top" style="height: 8rem; width: 8rem;" alt="...">
          <div class="card-body">
            <h5 class="card-title">${{product.Price}}</h5>
            <h6 class="card-subtitle product-name mb-1">{{product.Name}}</h6>
            <div class="d-flex align-items-center">
              <i class="fa-regular fa-clock me-1"></i>
              <p class="card-subtitle pt-1 text-muted">Expires on {{product.ExpireDate.slice(0,10)}}</p>
            </div>
          </div>
        </div>
        <div class="product-buttons d-flex justify-content-between align-items-center mb-3" *ngIf="UserType == 'Customer'">
          <button type="button" class="btn cart-add-button" [ngClass]="{'disabled' : product.Quantity == 0}" (click)="addToCart(product.ID, store.ID, product.Quantity - 1)">
            <i class="fa-solid fa-plus"></i>
          </button>
          <span class="add-text" *ngIf="product.Quantity != 0 && product.Count > 0">{{product.Count || 0}}</span>
          <span class="add-text text-danger" *ngIf="product.Quantity == 0">{{message}}</span>
          <button type="button" class="btn cart-delete-button" (click)="removeFromCart(product.ID, store.ID)" *ngIf="product.Count > 0">
            <i class="fa-solid fa-minus"></i>
          </button>
        </div>
        <div class="fav-btn" *ngIf="UserType == 'Customer'">
          <button type="button" class="btn cart-add-button w-100" (click)="changeFavorite(product.ID, checkFavorite(product.ID))">
            <i class="fa-regular fa-heart me-2" *ngIf="!checkFavorite(product.ID)"></i>
            <i class="fa-solid fa-heart me-2" *ngIf="checkFavorite(product.ID)"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>


