<div class="container-fluid">
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <div class="navbar-left d-flex">
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <i class="fa-solid fa-bars"></i>
            </button>
            <div class="nav-brand d-flex align-items-center">
              <img src="/assets/FoodSaverIcon.png" width="50em" height="40em" class="me-2"/>
              <div class="brand-text">FOODSAVER</div>
            </div>
          </div>
          <div class="navbar-center">
            <form class="d-flex" role="search">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input class="search-bar" type="text" placeholder="Search" />
            </form>
          </div>
          <div class="navbar-right d-flex">
            <button type="button" class="btn address-btn d-flex align-items-center justify-content-center me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-location-dot"></i>
              <div class="address-text">123 Monroe Street</div>
            </button>
            <button type="button" class="btn cart-btn d-flex align-items-center justify-content-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart">
              <i class="fa-solid fa-cart-shopping"></i>
              <div class="cart-number">1</div>
            </button>
          </div>
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header justify-content-between">
              <div class="offcanvas-header-left d-flex">
                <i class="fa-solid fa-user" style="font-size: 1.5em; padding: 0.5em;"></i>
                <div style="padding-top: 0.2em;">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">John Doe</h5>
                  <h6 class="offcanvas-subtitle" id="offcanvasNavbarLabel">Customer</h6>
                </div>
              </div>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1">
                <li class="nav-item mt-2 mb-2">
                  <a class="nav-link " [ngClass]="{'active' : currentPage === '/home'}" aria-current="page" href="home"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active' : currentPage === '/orders'}" href="orders"><i class="fa-solid fa-bag-shopping"></i> Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active' : currentPage === '/favorites'}" href="favorites"><i class="fa-solid fa-heart"></i> Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active' : currentPage === '/reports'}" href="reports"><i class="fa-solid fa-clipboard"></i> Reports</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active' : currentPage === '/settings'}" href="settings"><i class="fa-solid fa-gear"></i> Settings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
            <div class="offcanvas-header justify-content-center">
              <div class="offcanvas-header-left d-flex">
                <div style="padding-top: 0.2em;">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Cart</h5>
                </div>
              </div>
            </div>
            <div class="offcanvas-body">
              <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Publix</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">1 Item(s)</h6>
                  <p class="card-text">Total : $3.99</p>
                  <button type="button" class="btn cart-btn d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="cart-number">Checkout</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Address</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid pt-2 gap-5 justify-content-center">
            <a class="sub-nav-links text-center" href="">
              Meats
            </a>
            <a class="sub-nav-links text-center" href="">
              Veggies
            </a>
            <a class="sub-nav-links text-center" href="">
              Cereal
            </a>
            <a class="sub-nav-links text-center" href="">
              Snacks
            </a>
            <a class="sub-nav-links text-center" href="">
              Bread
            </a>
        </div>
    </nav>
</div>


