<div class="container">
    <div class="page-header">
        <h3 class="header-title">Orders</h3>
    </div>
    <div class="page-body">
        <div class="card mb-3" *ngFor="let order of orders; let i = index">
            <div class="card-header d-flex justify-content-start gap-4">
                <h6>ORDER #{{order.ID}}</h6>
                <h6>STATUS: <small [ngClass]="{'text-success': order.OrderStatus == 'DELIVERED', 'text-warning': order.OrderStatus == 'IN PROGRESS'}">{{order.OrderStatus}}</small></h6>
                <h6>TOTAL: <small>${{order.OrderPrice}}</small></h6>
                <h6  *ngIf="order.OrderStatus != 'DELIVERED'">ETA: <small>{{order.DeliveryDate.slice(0,10)}}</small></h6>
            </div>
            <div class="card-body d-flex justify-content-between">
              <div class="card-body-left">
                <h5 class="card-title">Items : {{orderDetails[i][0].length}}</h5>
                <div class="d-flex mb-3">
                  <img class="store-icon-img me-2" *ngFor="let orderDetail of orderDetails[i][0]" src="{{orderDetail.Image}}" alt="" style="width: 4rem; height:4rem;">
                </div>
              </div>
              <div class="card-body-right">
                <div class="store-icons me-2">
                  <img class="store-icon-img" src="{{orderDetails[i][0][0].StoreLogo}}" alt="">
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
