<div class="container">
    <div class="page-header">
        <h3 class="header-title">Settings</h3>
    </div>
    <div class="page-body">
        <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#account-tab-pane" aria-controls="description" aria-selected="true">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  data-bs-toggle="tab" data-bs-target="#theme-tab-pane" role="tab" aria-controls="history" aria-selected="false">Theme</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
               <div class="tab-content mt-3">
                <div class="tab-pane active" id="account-tab-pane" role="tabpanel">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" placeholder="(999)-999-9999" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label">Address</label>
                    <input type="text" class="form-control" placeholder="123 Monroe St" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <a href="#" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#viewProductsModal">Save Changes</a>
                </div>
                <div class="tab-pane" id="theme-tab-pane" role="tabpanel" aria-labelledby="history-tab">  
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      LIGHT THEME
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">DARK THEME</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

