<div class="container">
    <div class="page-header mb-2">
        <h3 class="header-title">My Stores</h3>
    </div>
    <div class="page-content">
        <div class="page-row mb-3">
            <div class="card">
                <div class="card-header">
                  Publix
                </div>
                <div class="card-body">
                  <h5 class="card-title">123 Monroe St.</h5>
                  <div class="card-btns d-flex">
                    <a href="#" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#viewProductsModal">View Products</a>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductsModal">Add Product</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewProductsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">View Products</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
    </div>
</div>
<div class="modal fade" id="addProductsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
