<div class="container">
    <div class="page-header">
        <h3 class="header-title">Favorites</h3>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-2">
                <div class="card pt-2">
                    <img src="https://www.instacart.com/assets/domains/product-image/file/large_fd13505e-f3a0-4ec4-9753-e9458b05a169.jpg" class="card-img-top" style="height: 8rem; width: 8rem;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jif Peanut Butter, Creamy</h5>
                        <p class="card-text text-muted"> <i>Spread the love! It’s easy to do with our Jif® Creamy Peanut Butter, full of that mouthwatering fresh roasted peanut taste you know the whole family enjoys. No other peanut butter will do, so it’s a no-brainer that you’ll enjoy this classic peanut butter taste paired with jelly or create your own show-stopper snack with a quick spread on veggies or fruit.</i></p>
                        <a href="#" class="btn add-fav-btn me-2"><i class="fa-solid fa-trash me-2"></i>Remove</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-2">
                <div class="card pt-2">
                    <img src="https://www.instacart.com/assets/domains/product-image/file/large_fd13505e-f3a0-4ec4-9753-e9458b05a169.jpg" class="card-img-top" style="height: 8rem; width: 8rem;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jif Peanut Butter, Creamy</h5>
                        <p class="card-text text-muted"> <i>Spread the love! It’s easy to do with our Jif® Creamy Peanut Butter, full of that mouthwatering fresh roasted peanut taste you know the whole family enjoys. No other peanut butter will do, so it’s a no-brainer that you’ll enjoy this classic peanut butter taste paired with jelly or create your own show-stopper snack with a quick spread on veggies or fruit.</i></p>
                        <a href="#" class="btn add-fav-btn me-2"><i class="fa-solid fa-trash me-2"></i>Remove</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-2">
                <div class="card pt-2">
                    <img src="https://www.instacart.com/assets/domains/product-image/file/large_fd13505e-f3a0-4ec4-9753-e9458b05a169.jpg" class="card-img-top" style="height: 8rem; width: 8rem;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jif Peanut Butter, Creamy</h5>
                        <p class="card-text text-muted"> <i>Spread the love! It’s easy to do with our Jif® Creamy Peanut Butter, full of that mouthwatering fresh roasted peanut taste you know the whole family enjoys. No other peanut butter will do, so it’s a no-brainer that you’ll enjoy this classic peanut butter taste paired with jelly or create your own show-stopper snack with a quick spread on veggies or fruit.</i></p>
                        <a href="#" class="btn add-fav-btn me-2"><i class="fa-solid fa-trash me-2"></i>Remove</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-2">
                <div class="card pt-2">
                    <img src="https://www.instacart.com/assets/domains/product-image/file/large_fd13505e-f3a0-4ec4-9753-e9458b05a169.jpg" class="card-img-top" style="height: 8rem; width: 8rem;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jif Peanut Butter, Creamy</h5>
                        <p class="card-text text-muted"> <i>Spread the love! It’s easy to do with our Jif® Creamy Peanut Butter, full of that mouthwatering fresh roasted peanut taste you know the whole family enjoys. No other peanut butter will do, so it’s a no-brainer that you’ll enjoy this classic peanut butter taste paired with jelly or create your own show-stopper snack with a quick spread on veggies or fruit.</i></p>
                        <a href="#" class="btn add-fav-btn me-2"><i class="fa-solid fa-trash me-2"></i>Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>