@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.container{
    font-family: 'Quicksand', sans-serif;
}
.card{
    border: none;
}

.product-name{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
  }

  .cart-add-button{
    background-color: rgb(4, 137, 187);
    color: white;
  }
  .cart-delete-button{
    background-color: rgb(4, 137, 187);
    color: white;
  }