<div class="container">
    <div class="page-header mb-3">
        <h1>Products</h1>
    </div>
        <div class="row-content">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 mb-3" *ngFor="let product of searchResults">
                  <div class="card h-20 pt-2 d-flex align-items-center">
                    <img src="{{product.Image}}" class="card-img-top" style="height: 8rem; width: 8rem;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">${{product.Price}}</h5>
                      <h6 class="card-subtitle product-name mb-1">{{product.Name}}</h6>
                      <div class="d-flex align-items-center">
                        <i class="fa-regular fa-clock me-1"></i>
                        <p class="card-subtitle pt-1 text-muted">Expires in x days</p>
                      </div>
                      <p><i>{{product.storeName}}</i></p>
                    </div>
                  </div>
                  <div class="product-buttons d-flex justify-content-between align-items-center">
                    <button type="button" class="btn cart-add-button">
                      <i class="fa-solid fa-plus"></i>
                    </button>
                    <span class="add-text">0</span>
                    <button type="button" class="btn cart-delete-button">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
        </div>
</div>