
.container{
  height: 100vh;
}

.header-title, .card-title, .add-text{
    font-family: 'Quicksand', sans-serif;
  }

  .add-fav-btn{
    background-color: rgb(4, 137, 187);
    font-family: 'Quicksand', sans-serif;
}